:root {
  --gcd-height: 50px;
  --mainLine-height: 3px;
  --tick-height: 20px;
  --mainLine-rotationActions-left-margin: 60px;
  --menu-item-height: 30px;
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --dot-border-shadow: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url("https://wallpaperset.com/w/full/7/5/1/508204.jpg")
    /* url("https://cdn.discordapp.com/attachments/189089498364117002/737718485592834068/What_are_you_doing_step_bro10.png") */
    center center/cover;
  height: 100vh;
  color: #fff;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* lowest layer */
.container {
  text-align: center;
}

.Settings {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #2f3136;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ActionSelect {
  background-color: #2f3136;
  z-index: 3;
  margin: 0px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.Timeline {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.timeWrapper {
  display: inline;
  background-color: #202225df;
}
.mainLine {
  margin-top: 20px;
  margin-bottom: 35px;
  height: var(--mainLine-height);
  background-color: #fff;
  position: relative;
  flex-grow: 100;
}

.Tick {
  height: var(--tick-height);
  width: 1.5px;
  background-color: #fff;
  position: absolute;
  top: calc(-0.5 * var(--tick-height) + 0.5 * var(--mainLine-height));
}

.tickTimestamp {
  position: absolute;
  bottom: -30px;
  transform: translateX(-50%);
}

.RotationGrid {
  text-align: left;
  height: 80px;
  margin: 0px;
  padding: 0px;
  flex-grow: 100;
  white-space: nowrap;
  border: 1px #000 solid;
  display: flex;
}
.RotationGrid.dragOver * {
}

.rotationActions {
  position: relative;
  margin-top: 13px;
}

.RotationAction {
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%);
}

.Action {
  display: inline-flex;
  padding: 5px;
}

.actionImg {
  height: 40px;
  width: 40px;
  border-radius: 20%;
}

.tooltip {
  width: 300px;
}

.gcd {
  height: 50px;
  width: 50px;
}

.ogcd {
  height: 35px;
  width: 35px;
  margin-top: 15px;
}

.selectAction {
  height: 50px;
  width: 50px;
}

.MinusPlusButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlusButton {
  color: #fff;
  margin-left: 5px;
  background-color: #46494f55;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  height: 20px;
  width: 20px;
  transform: scale(2, 2);
  transition: 0.5s;
}
.PlusButton:hover > .plus {
  transform: rotate(180deg) scale(2.2, 2.2);
}
.PlusButton:hover {
  transform: scale(1.1, 1.1);
  background-color: #46494fcc;
}

.MinusButton {
  margin-right: 5px;
  color: #fff;
  background-color: #46494f55;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus {
  height: 20px;
  width: 20px;
  transform: scale(2, 2);
  transition: 0.5s;
}
.MinusButton:hover > .minus {
  transform: scale(3, 3);
}
.MinusButton:hover {
  transform: scale(1.1, 1.1);
  background-color: #46494fcc;
}

.JobSelect {
  display: inline-flex;
  cursor: pointer;
}

.jobSelectImg {
  width: 40px;
  height: 40px;
}

.JobSelectMenu {
  z-index: 100;
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateY(3%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
  transition: height var(--speed) ease;
}

.MenuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.MenuItem .iconImg {
  height: calc(var(--menu-item-height));
}
.MenuItem svg {
  height: var(--menu-item-height);
}

.MenuItem .iconImg:hover {
  filter: none;
}

.MenuItem:hover {
  background-color: #525357;
}

.roleMenu-enter {
  position: absolute;
  transform: translateX(-110%);
}
.roleMenu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.roleMenu-exit {
  position: absolute;
}
.roleMenu-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.jobMenu-enter {
  transform: translateX(110%);
}
.jobMenu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.jobMenu-exit {
}
.jobMenu-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
.TimelineSettings {
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3f4146;
  position: relative;
}

.timelineSettingsInput {
  border-radius: 5px;
  padding-left: 2px;
  margin-right: 4px;
  margin-left: 4px;
  width: 100px;
}
.submitButton {
  margin-top: 5px;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  background-color: #ccc;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EditSettings {
  position: relative;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 10px;
  z-index: 1;
  background-color: #3f4146;
}

.InsertTime {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f4146;
  width: 70px;
  height: 30px;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-80px);
}

.insertTimeAni-enter {
  transform: translateX(-80px);
  transition: transform 500ms;
  opacity: 1;
}

.insertTimeAni-enter-active {
  transform: translateX(0%);
  opacity: 1;
}
.insertTimeAni-enter-done {
  transform: translateX(0%);
  opacity: 1;
}

.insertTimeAni-exit {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 500ms;
}

.insertTimeAni-exit-active {
  opacity: 1;
  transform: translateX(-80px);
}

.insertTimeAni-exit-done {
  opacity: 0;
  transform: translateX(-80px);
}

.editSettingsDot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 7px;
  margin-right: 4px;
  background-color: #b2c2bf;
  transform: scale(1, 1);
  cursor: pointer;
}

.dotAnimation-enter {
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 0px 0px;
}

.dotAnimation-enter-active {
  box-shadow: 0px 0px 0px var(--dot-border-shadow) #eaece5;
}

.dotAnimation-enter-done {
  box-shadow: 0px 0px 0px var(--dot-border-shadow) #eaece5;
}
.dotAnimation-appear {
  box-shadow: 0px 0px 0px var(--dot-border-shadow) #eaece5;
}

.dotAnimation-exit {
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 0px var(--dot-border-shadow) #eaece5;
}

.dotAnimation-exit-active {
  box-shadow: 0px 0px 0px 0px;
}

.dotAnimation-exit-done {
  box-shadow: 0px 0px 0px 0px;
}

.Info {
  position: absolute;
  right: 0px;
  top: 0px;
}

.Info svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.infoTooltip {
  width: 300px;
}
